.menu {
    overflow: hidden;
    background-color: #74daf8;
    font-family: 'Roboto', sans-serif;
  }
  
  .menu a {
    float: left;
    color: #fff;
    font-size: 2vw;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {
    background-color: #f497bf;
    cursor: pointer;
  }
  
  .body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    position: relative;
    text-align: left;
    color: black;
  }
  
  .top-left {
    position: absolute;
    top: -10px;
    left 16px;
    padding: 1px 25px;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  }
  
  .fname {
    box-sizing: border-box;
    border: none;
    padding: 10px 20px;
    margin: 0;
    background-color: #a36bf8;
    color: white;
    font-size: 1.8vw;
    max-width: 40%;
    height: auto;
  }
  
  .fskill {
    box-sizing: border-box;
    border: none;
    padding: 10px 20px;
    margin: auto;
    background-color: #a36bf8;
    color: white;
    font-size: 1.8vw;
    max-width: 55%;
    height: auto;
  }
  
  .buttonskill {
    border-radius: 10%;
    padding: 1vw;
    font-size: 1.2vw;
    color: white;
    background-color: red;
  }
  
  .select {
    cursor: pointer;
    color: white;
    background-color: #a36bf8;
    padding: 1vw 5vw;
    font-size: 1.2vw;
  }